.prodRows{
    display: flex;
    ul{
        display: flex;
        padding: 0;
        margin-left: 4px;
        li{
            list-style-type: none;
            margin: 0 4px;
            a{
                padding: 0 8px;
                text-decoration: none;
                border: 1px solid black;
                display: block;
                height: 20px;
            }
        }
    }
}
.prodRowsHr{
    margin: 4px 0;
}
#productsWrapper{
    height: min-content;
    display: flex;
    align-content: center;
}
#products{
    .product{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-bottom: 16px;
        height: 120px;
    }
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
#productsCart{
    .product{
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        .prodHr{
            margin: 8px 0;
        }
    }
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.productsNav{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    .currentPage{
        background-color: #5583b1;
        padding: 0 12px;
        text-align: center;
        font-weight: 500;
        color: white;
        border: 1px solid black;
    }
}

.productsFormsWrapper{
    display: flex;
    form{
        display: flex;
        flex-direction: column;
        .formField{
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
        }
        padding: 0 8px;
    }
}