<link rel="stylesheet" href="/css/{{style}}">

<div class="wrapper">
    <h2 class="loginH">Inicia Sesión para Continuar</h2>
    <div class="loginWrapper">
        <div class="loginContainer">
            <form action="" method="post" id="loginForm" class="logForm">
                <h4>Iniciá Sesión</h4>
                <div class="formField">
                <label for="post-email">Email</label>
                    <input id="post-email" type="text" name="email" required>
                </div>
                <div class="formField">
                <label for="post-password">Contraseña</label>
                    <input id="post-password" type="text" name="password" required>
                    <br>
                </div>
                <button type="submit">Iniciar</button>
                <span>{{msg}}</span>

            </form>
                <a href="/account/google"><button>Iniciar con google</button></a>
        </div>
        <span>¿No tienes una cuenta? <a href="/account/register">Registrate aquí.</a></span>
    </div>
</div>


<script type="module" src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/login.js"></script>